@import "styles/abstract/variables";
@import "styles/abstract/mixins";
@import "styles/base/typography";
@import "styles/base/animations";
@import "styles/base/utilities";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}
