$color-black: #000000;
$color-white: #ffffff;
$color-grey: #646466;
$color-blue: #066AFF;
$color-purple: #A047DA;
$color-darkblue: #003B92;

$color-linear-1: #003B92;
$color-linear-2: #6654E7;
$color-linear-3: #9F46D9;

$margin-small: 1rem;
